.App {  
  text-align: center;
}
.Header {
  color: yellow;
  font-size: 48px;
  text-shadow:
    -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}
/* write your parent styles in here for your App.js */
.SWCharList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
}

h1 {
  
}